{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center">
  <table class="table" style="width: 60%;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody>
      {% for d in data %}
      <tr>
        <th scope="row">{{d.pk}}</th>
        <td>{{d.artist.first_name}} {{d.artist.last_name}}</td>
        <td>{{d.artist.email}}</td>
        <td>{{d.rating}}</td>
        <td>{{d.artist.instrument_type}}</td>
        <td>{{d.name}}</td>
        <td>{{d.release_date}}</td>
        <td><div class="editdelete d-flex">
          {% if request.user.is_authenticated %}
          <a href="{% url 'edit_album' d.id %}" class="btn btn-warning mx-2">Edit</a>
          <a href="{% url 'delete_album' d.id %}" class="btn btn-danger mx-2">Delete</a>
          {% else %}
          <button class="btn btn-dark disabled">Unvailable</button>
          {% endif %}
        </div></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}